<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
  <title>Activity Stats</title>
</head>

<body class="body-wrap">
  <div>
    <header class="page-header">
      <p>Activity Stats</p>
    </header>
    <section class="page-tabs">
      <div>
        <span><a href="/activity">History</a></span>
        <span>|</span>
        <span><a href="/activity/stats">Stats</a></span>
        <span>|</span>
        <span><a href="/activity/create">Create New</a></span>
      </div>
    </section>
    <section class="page-body">
      <div class="flex-fill">
        <div class="data-card">
          <div>
            <canvas id="progressChart"></canvas>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
            const ctx = document.getElementById('progressChart');
            const chartData = JSON.parse(`<%- JSON.stringify(stats)%>`);
            new Chart(ctx, {
              type: 'bar',
              data: {
                labels: chartData.map(a => a.type),
                datasets: [{
                  label: 'Minutes Spent',
                  data: chartData.map(a => a.duration),
                  borderWidth: 1
                }]
              },
              options: {
                plugins: {
                  tooltip: {
                    mode: 'index',
                    intersect: false,
                    callbacks: {
                      title: function(data) {
                        const date = new Date(data[0].parsed.x);
                        return date.toDateString();
                      },
                    },
                  }
                },
                backgroundColor: '#4ceb7f',
              }
            });
          </script>
        </div>
      </div>
    </section>
  </div>
</body>

</html>