<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
  <title>Health Data Statistics</title>
</head>

<body class="body-wrap">
  <div>
    <section class="page-body">
      <div class="flex-fill">
        <div class="data-card">
          <div>
            <canvas id="progressChart"></canvas>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
          <script>
            const ctx = document.getElementById('progressChart');
            const chartData = JSON.parse(`<%- JSON.stringify(stats)%>`);
            const healthType = `<%= type  %>`;
            const chartDataSets = [];
            switch (healthType) {
              case 'weight': {
                chartDataSets.push({
                  label: 'Weight Over Time',
                  data: chartData.map(a => a.weight),
                  borderWidth: 1
                });
                break;
              }
              case 'bmi': {
                chartDataSets.push({
                  label: 'BMI Over Time',
                  data: chartData.map(a => a.bmi),
                  borderWidth: 1
                });
                break;
              }
              case 'heartRate': {
                chartDataSets.push({
                  label: 'Heart Rate Over Time',
                  data: chartData.map(a => a.heartRate),
                  borderWidth: 1
                });
                break;
              }
              case 'bloodPressure': {
                chartDataSets.push({
                  label: 'Systolic Blood Pressure Over Time',
                  data: chartData.map(a => a.bloodPressureSystolic),
                  borderWidth: 1
                });
                chartDataSets.push({
                  label: 'Diastolic Blood Pressure Over Time',
                  data: chartData.map(a => a.bloodPressureDiastolic),
                  borderWidth: 1
                });
                break;
              }
            }

            new Chart(ctx, {
              type: 'line',
              options: {
                plugins: {
                  tooltip: {
                    mode: 'index',
                    intersect: false,
                    callbacks: {
                      title: function(data) {
                        const date = new Date(data[0].parsed.x);
                        return date.toDateString();
                      },
                    },
                  }
                },
                scales: {
                  x: {
                    type: 'time',
                    time: {
                      unit: 'day'
                    }
                  },
                }
              },
              data: {
                labels: chartData.map(a => a.date),
                datasets: chartDataSets
              }
            });
          </script>
        </div>
      </div>
    </section>
  </div>
</body>

</html>