* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* .eye-icon {
  font-size: 18px;
  color: #8b8b8b;
} */

.content__label {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
  width: 90%;
  min-height: 500px;
}

.showcase {
  background: url("https://img.freepik.com/premium-vector/mental-health-concept-flowers-leaves-head-woman-world-mental-health-day-vector-illustration_502651-19.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 50px;
  /*display: none;*/
}

.showcase span {
  font-size: 100px;
}

.signinwithgoogle .icon {
  width: 40px;
  height: 30px;
  margin-right: 10px;
}

.signinwithgoogle {
  padding: 10px;
  text-align: center;
  border: 2px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.signinwithgoogle:hover {
  background: rgb(236, 218, 228);
}

.logo {
  width: 100px;
  height: 100px;
  display: grid;
}

.auth {
  padding: 30px 10px;
}

/* a.guest {
  border: 2px solid white;
  background: rgb(19, 18, 18);
  text-decoration: none;
  padding: 10px;
  color: #fff;
  margin-top: 20px;
}

a.guest:hover {
  background: yellowgreen;
} */

.form {
  margin-block: 20px;
}

.form__group {
  display: grid;
}

.form__group label {
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form__group input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
  border-color: gray;
  border-width: 1px;
}

.form__group select {
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
  border-color: gray;
  border-width: 1px;
}

.form group button[type="submit"] {
  background: green;
  border: none;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.form__group button[type="submit"]:hover {
  background: yellowgreen;
  margin-top: 30px;
}

.action {
  display: grid;
  margin-top: 30px;
}

.divider {
  width: fit-content;
  padding: 10px 15px;
  margin-inline: auto;
  box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

@media screen and (min-width:768px) {
  .card {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.1);
  }
}

.body-wrap {
  background-color: #a4faae;
}

.page-body {
  padding-top: 1rem;
}

.page-tabs {
  padding: 75px 1.5rem 1rem 1.5rem;
  margin: -8px -8px -8px -8px;
  font-size: large;
  background-color: #f2fef7;
}
.page-tabs span {
  padding: 1rem;
}

.page-header {
  background-color: black;
  color: #f2fef7;
  display: flex;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  margin: -8px -8px -8px -8px;
  font-size: large;
  position: fixed;
  width: 100%;
}

.data-card {
  display: block;
  margin: 0.75rem;
  padding: 1rem;
  border-style: solid;
  border-radius: 0.5rem;
  background-color: #f2fef7;
  border-color: #f2fef7;
}

.data-card-time {
  color: #585858;
}

.form div {
  padding: 0.5rem;
}

.wrapper {
  display: block;
  margin: 0.75rem;
}
